.logout-page {

    /**
 * ==============================================
 * Dot Elastic
 * ==============================================
 */
    .dot-elastic {
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #c20000;
        color: #c20000;
        animation: dot-elastic 1s infinite linear;
    }

    .dot-elastic::before,
    .dot-elastic::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .dot-elastic::before {
        left: -15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #c20000;
        color: #c20000;
        animation: dot-elastic-before 1s infinite linear;
    }

    .dot-elastic::after {
        left: 15px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #c20000;
        color: #c20000;
        animation: dot-elastic-after 1s infinite linear;
    }

    @keyframes dot-elastic-before {
        0% {
            transform: scale(1, 1);
        }

        25% {
            transform: scale(1, 1.5);
        }

        50% {
            transform: scale(1, 0.67);
        }

        75% {
            transform: scale(1, 1);
        }

        100% {
            transform: scale(1, 1);
        }
    }

    @keyframes dot-elastic {
        0% {
            transform: scale(1, 1);
        }

        25% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(1, 1.5);
        }

        75% {
            transform: scale(1, 1);
        }

        100% {
            transform: scale(1, 1);
        }
    }

    @keyframes dot-elastic-after {
        0% {
            transform: scale(1, 1);
        }

        25% {
            transform: scale(1, 1);
        }

        50% {
            transform: scale(1, 0.67);
        }

        75% {
            transform: scale(1, 1.5);
        }

        100% {
            transform: scale(1, 1);
        }
    }

    .logo {
        background-image: url("~@/assets/images/logo.png");
        height: 78px;
        width: 78px;
        background-size: 100% 100%;
        cursor: pointer;
    }

    width: 100vw;
    height: 100vh;
    background-image: url("~@/assets/images/background.svg");
    background-color: #f0f8ff;

    .logout-container {
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 5px;
        /* bring your own prefixes */
        transform: translate(-50%, -50%);
        width: 1000px;
        height: 500px;
        background-color: #ffffff;

        .logout-content-right {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            background-color: #c20000;
            height: 100%;

            .welcome-text {
                color: #ffffff;
                font-size: 18px;
            }

            .ask {
                margin-top: 10px;
                color: #ffffff;
                font-size: 13px;
            }

            .signup-button {
                margin-top: 10px;
            }
        }

        .logout-content-left {
            height: 100%;
            padding: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            .logout-message {
                color: #c20000;
                font-size: 18px;
                display: flex;
                justify-content: center;
                align-items: center;
                .message{
                    margin-right: 25px;
                }
            }

            .logout-content-left-title {
                font-size: 24px;
                color: #333;
                font-family: "Roboto";
            }

            .logout-field-container {
                font-size: 13px;
                margin-top: 20px;

                .logout-field-label {
                    font-weight: 600;
                    margin: 5px 0;
                }
            }

            .logout-button {
                margin-top: 20px;
            }

            .forgot-password {
                margin-top: 20px;
                font-size: 13px;
                cursor: pointer;
            }
        }
    }
}