@import '@/assets/scss/mixins.scss';
@import "@/assets/scss/_variables.scss";

.dashboard {
    display: flex;
    flex-direction: column;
    background-color: #F9FBFD;

    .label{
        font-weight: $font-weight-bold;
        font-size: $font-size-label;
        padding: 10px 0px;
        margin-bottom: 20px;
        border-bottom: 1px solid #F0F0F0;
    }
    .summary-information {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;

        @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include for-size(phone) {
            grid-template-columns: repeat(1, 1fr);
        }

        .summary-information-item {
            padding: 15px;
            border-radius: 4px;
            display: flex;
            font-size: 14px;


            .content-container {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-left: 15px;

                div:first-child {
                    margin-bottom: 8px;
                    font-weight: 600;
                }

                .value {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100px;
                }
            }

            .icon-container {
                padding: 10px;
                border-radius: 4px;
            }

            &.revenue {
                background-color: #d1e7dd;
                color: #0f5132;
                border-color: #badbcc;

                .icon-container {
                    background-color: #198754;
                }
            }

            &.expense {
                background-color: #f8d7da;
                color: #842029;
                border-color: #f5c2c7;

                .icon-container {
                    background-color: #DC3545;
                }
            }

            &.order {
                background-color: #fff3cd;
                color: #664d03;
                ;
                border-color: #ffecb5;

                .icon-container {
                    background-color: #FFC107;
                }
            }

            &.customer {
                background-color: #cff4fc;
                color: #055160;
                border-color: #b6effb;

                .icon-container {
                    background-color: #0DCAF0;
                }
            }
        }
    }

    .summary-detail-information {
        margin-top: 20px;
        display: flex;
        flex-direction: column;

        .filter-container {
            display: flex;
            justify-content: space-between;

            .left-filter {
                .duration-tag-list {
                    border-radius: 4px;
                    border: 1px solid #c20000;
                    display: flex;

                    .duration-item {
                        color: #c20000;
                        cursor: pointer;
                        padding: 10px;

                        &.selected {
                            color: #ffffff !important;
                            background-color: #c20000;
                        }
                    }
                }
            }

            .right-filter {
                input {
                    width: 250px;
                }
            }
        }

        .summary-detail-content {
            margin-top: 20px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;

            @media only screen and (max-width: 1024px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @include for-size(phone) {
                grid-template-columns: repeat(1, 1fr);
            }

            .summary-detail-content-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 24px 16px;
                background-color: #ffffff;
                border-radius: 4px;
                border: 1px solid #f0f0f0;

                .main-information {
                    .name {
                        margin-bottom: 10px;
                        color: #9a9b9d;
                        font-size: 14px;
                    }

                    .value {
                        font-weight: 700 !important;
                    }
                }

                .icon-container {
                    padding: 10px;
                    border-radius: 4px;

                    &.avg-sale {
                        background-color: #BF7C4C;
                    }

                    &.avg-item-sale {
                        background-color: #F1C8DB;
                    }

                    &.total-sale {
                        background-color: #A7DAFF;
                    }

                    &.visitor {
                        background-color: #A0D9B4;
                    }

                    &.total-product {
                        background-color: #FFAA8A;
                    }

                    &.total-transaction {
                        background-color: #FFE28C;
                    }
                }
            }
        }
    }

    .chart-container {
        margin-top: 20px;
        background-color: #ffffff;
        padding: 20px;

        .chart-content {
            display: flex;

            .donoughnut {
                display: grid !important;
                grid-template-columns: repeat(2, 1fr);
                @include for-size(phone) {
                    grid-template-columns: repeat(1, 1fr);
                }
                gap: 30px;
            }


            gap: 30px;
        }
    }

    .divide-container {
        gap: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @media only screen and (max-width: 1024px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @include for-size(phone) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .transaction-history {
        margin-top: 20px;
        background-color: #ffffff;
        padding: 20px;

        .transaction-history-content {
            margin-top: 20px;
        }
    }
}